<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- <mapper namespace="CartMapper"> -->
<mapper namespace="com.model2.mvc.service.cart.CartDao">

	<resultMap id="cartSelectMap" type="cart">
		<id property="cartNo"				column="cart_no" 	jdbcType="NUMERIC"/>
		<result property="user.userId"		column="user_id" 	jdbcType="VARCHAR"/>
		<result property="product.prodNo"	column="prod_no" 	jdbcType="NUMERIC"/>
		<result property="quantity"			column="quantity"	jdbcType="NUMERIC"/>
	</resultMap>
	
	<insert id="addCart" parameterType="cart" >
		INSERT INTO cart VALUES (seq_cart_cart_no.NEXTVAL, #{user.userId}, #{product.prodNo}, #{quantity})
	 </insert>
	 
	 <select id="findCart" parameterType="cart" resultMap="cartSelectMap">
	 	SELECT cart_no, user_id, prod_no, quantity
	 	FROM cart
	 	WHERE user_id = #{user.userId} AND prod_no = #{product.prodNo}
	 </select>
	 
	 <select id="getCartList" parameterType="cart" resultMap="cartSelectMap">
	 	SELECT cart_no, user_id, prod_no, quantity
	 	FROM cart
	 	WHERE user_id = #{user.userId}
	 </select>
	 
	 <update id="updateCart" parameterType="cart">
	 	UPDATE cart
		SET quantity = #{quantity}
		WHERE user_id = #{user.userId} AND prod_no = #{product.prodNo}
	 </update>
	 
	 <delete id="deleteCart" parameterType="int">
	 	DELETE cart
	 	WHERE cart_no = #{cartNo}
	 </delete>
</mapper>