<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- <mapper namespace="OrderDetailMapper"> -->
<mapper namespace="com.model2.mvc.service.orderDetail.OrderDetailDao">

	<resultMap id="orderDetailSelectMap" type="orderDetail">
		<id property="orderNo"					column="order_no"	jdbcType="NUMERIC"/>
		<result property="transaction.tranNo"	column="tran_no"	jdbcType="NUMERIC"/>
		<result property="product.prodNo"		column="prod_no"	jdbcType="NUMERIC"/>
		<result property="quantity"				column="quantity"	jdbcType="NUMERIC"/>
		<result property="regDate"				column="reg_date"	jdbcType="DATE"/>
	</resultMap>
	
	<insert id="addOrderDetail" parameterType="orderDetail">
	 	INSERT
		INTO orderdetails(order_no, tran_no, prod_no, quantity, reg_date)
		VALUES(seq_orderdetails_order_no.NEXTVAL, #{transaction.tranNo}, #{product.prodNo}, #{quantity}, SYSDATE)
	 </insert>
	 
	 <select id="getOrderDetailList" parameterType="int" resultMap="orderDetailSelectMap">
	 	SELECT *
	 	FROM orderdetails
	 	WHERE tran_no = #{tranNo}
	 </select>
	 
	 <select id="getOrderDetailListByProdNo" parameterType="int" resultMap="orderDetailSelectMap">
	 	SELECT *
	 	FROM orderdetails
	 	WHERE prod_no = #{prodNo}
	 </select>
</mapper>