<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- <mapper namespace="ProductMapper"> -->
<mapper namespace="com.model2.mvc.service.product.ProductDao">
 	
	<resultMap id="productSelectMap" type="product">
		<id property="prodNo"					column="prod_no"			jdbcType="VARCHAR"/>
		<result property="prodName"				column="prod_name"			jdbcType="VARCHAR" />
		<result property="prodDetail"			column="prod_detail"		jdbcType="VARCHAR" />
		<result property="manuDate"				column="manufacture_day"	jdbcType="VARCHAR" />
		<result property="price"				column="price" 				jdbcType="NUMERIC" />
		<result property="quantity"				column="quantity"			jdbcType="NUMERIC"  />
		<result property="regDate"				column="reg_date"			jdbcType="DATE" />
		<result property="category.categoryNo" 	column="category_no"		jdbcType="NUMERIC"/>
	</resultMap>
	
	<insert id="addProduct" parameterType="product" >
		<selectKey keyProperty="prodNo" resultType="int" order="BEFORE">
	 		SELECT seq_product_prod_no.NEXTVAL
	 		FROM dual
	 	</selectKey>
	 	INSERT INTO product VALUES (#{prodNo}, #{prodName:VARCHAR}, #{prodDetail:VARCHAR}, #{manuDate:VARCHAR}, #{price:NUMERIC}, #{category.categoryNo:NUMERIC}, #{quantity:NUMERIC}, SYSDATE)
	 </insert>
	 
	 <select id="findProduct" parameterType="int" resultMap="productSelectMap">
		SELECT prod_no, prod_name, prod_detail, manufacture_day, price, category_no, quantity, reg_date
		FROM product
		WHERE prod_no=#{prodNo}
	 </select>
	 
	 <select id="findProductByName" parameterType="string" resultMap="productSelectMap">
		SELECT prod_no, prod_name, prod_detail, manufacture_day, price, category_no, quantity, reg_date
		FROM product
		WHERE prod_name=#{prodName}
	 </select>
	 
	 <select  id="getTotalCount"  parameterType="search" resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT p.prod_no, p.prod_name, p.prod_detail, p.manufacture_day, p.price, category_no, quantity, p.reg_date
				FROM product p
				<where>
					<if test="searchCondition != null">
						<if test="searchCondition == 0 and searchKeyword !='' ">
							prod_no = #{searchKeyword}
						</if>
					
						<if test="searchCondition == 1 and searchKeyword !='' ">
							LOWER(prod_name) LIKE '%'||(#{searchKeyword})||'%'
						</if>
					
						<if test="searchCondition == 2 and searchKeyword !='' and searchKeyword2 !=''">
							price BETWEEN #{searchKeyword} AND #{searchKeyword2}
						</if>
					</if>
				
					<if test="category!=null">
						<if test="category.categoryNo != -1 and category.parentCategoryNo!=0">
							AND category_no = #{category.categoryNo}
						</if>
						
						<if test="category.parentCategoryNo == 0">
							AND category_no IN (SELECT category_no
												FROM categories
												WHERE parent_category_no = #{category.categoryNo} )
						</if>
					</if>
				</where>
				) countTable						
	 </select>
	 
	 <select  id="getProductList" parameterType="search" resultMap="productSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  			FROM (  SELECT p.prod_no, p.prod_name, p.prod_detail, p.manufacture_day, p.price, category_no, quantity, p.reg_date
	  					FROM product p
	  					<where>
	  						<if test="searchCondition != null">
	  							<if test="searchCondition == 0 and searchKeyword !='' ">
	  								prod_no = #{searchKeyword}
	  							</if>
	  							
	  							<if test="searchCondition == 1 and searchKeyword !='' ">
	  								LOWER(prod_name) LIKE '%'||LOWER(#{searchKeyword})||'%'
	  							</if>
	  							
	  							<if test="searchCondition == 2 and searchKeyword !='' and searchKeyword2 !='' ">
	  								price BETWEEN #{searchKeyword} AND #{searchKeyword2}
								</if>
							</if>
							
							<if test="category != null">
								<if test="category.parentCategoryNo!=0">
									AND category_no = #{category.categoryNo}
								</if>
								
								<if test="category.parentCategoryNo == 0">
									AND category_no IN (SELECT category_no
														FROM categories
														WHERE parent_category_no = #{category.categoryNo} )
								</if>
							</if>
						</where>
						
						<choose>
							<when test="sorter != null and sorter !='' ">
								ORDER BY ${sorter}
							</when>
							
							<otherwise>
								ORDER BY prod_no
							</otherwise>
						</choose>
						) inner_table
				WHERE ROWNUM &lt;= #{currentPage} * #{pageSize} )
		WHERE row_seq BETWEEN + ((#{currentPage} - 1) * #{pageSize} + 1)  AND #{currentPage} * #{pageSize}
	 </select>
	 
	 <update id="updateProduct"	parameterType="product" >
	   	UPDATE product
	   	<set>
	   		prod_name 	= #{prodName} ,
			prod_detail	= #{prodDetail:VARCHAR},
			manufacture_day = #{manuDate:VARCHAR},
			price = #{price:NUMERIC},
			category_no = #{category.categoryNo:NUMERIC},
			quantity = #{quantity:NUMERIC}
	   	</set>
	   	WHERE prod_no = #{prodNo}
	 </update>
	 
	 <update id="updateProductQuantity" parameterType="product">
	 	UPDATE product
	 	<set>
	 		quantity = quantity - #{quantity}
	 	</set>
	 	WHERE prod_no = #{prodNo}
	 </update>
</mapper>