<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- <mapper namespace="PurchaseMapper"> -->
<mapper namespace="com.model2.mvc.service.purchase.PurchaseDao">
	<resultMap id="purchaseSelectMap" type="purchase">
		<result property="tranNo"			column="tran_no"/>
		<result property="paymentOption"	column="payment_option"		jdbcType="VARCHAR" />
		<result property="receiverName"		column="receiver_name" 		jdbcType="VARCHAR" />
		<result property="receiverPhone"	column="receiver_phone"		jdbcType="VARCHAR" />
		<result property="divyAddr"			column="demailaddr"			jdbcType="VARCHAR" />
		<result property="divyRequest"		column="dlvy_request"		jdbcType="VARCHAR"  />
		<result property="tranCode"			column="tran_status_code"	jdbcType="VARCHAR" />
		<result property="orderDate"		column="order_data"			jdbcType="DATE"  />
		<result property="divyDate"			column="dlvy_date"			jdbcType="VARCHAR" />
		<result property="buyer.userId"		column="buyer_id"			jdbcType="NUMERIC"/>
	</resultMap>
	
	<insert id="addPurchase" parameterType="purchase">
	 	<selectKey keyProperty="tranNo" resultType="int" order="BEFORE">
	 		SELECT seq_transaction_tran_no.NEXTVAL
	 		FROM dual
	 	</selectKey>
	 	INSERT INTO transaction VALUES
	 	(#{tranNo}, #{buyer.userId}, #{paymentOption:VARCHAR}, #{receiverName:VARCHAR}, #{receiverPhone:VARCHAR}, 
	 	 #{divyAddr:VARCHAR}, #{divyRequest:VARCHAR}, 1, SYSDATE, #{divyDate:DATE})
	 </insert>
	 
	 <select id="findPurchase" parameterType="int" resultMap="purchaseSelectMap">
		SELECT
		tran_no, payment_option, receiver_name, receiver_phone, demailaddr, dlvy_request, TRIM(tran_status_code) tran_status_code, order_data, To_char(dlvy_date, 'YYYY-MM-DD') dlvy_date, buyer_id
		FROM transaction
		<where>
			tran_no=#{tranNo}
		</where>
	 </select>
	 
	 <select id="getTotalCount" parameterType="search" resultType="int">
	 SELECT COUNT(*)
	 FROM (
	 	SELECT tran_no, buyer_id, payment_option, receiver_name, receiver_phone, demailaddr, dlvy_request, tran_status_code, 
			   order_data, To_char(dlvy_date, 'YYYY-MM-DD') dlvy_date 
		FROM transaction
		WHERE buyer_id = #{searchKeyword}
		ORDER BY tran_no
	 	   ) countTable
	 </select>
	 
	 <select id="getPurchaseList" parameterType="search" resultMap="purchaseSelectMap">
	 	SELECT tran_no, buyer_id, payment_option, receiver_name, receiver_phone, demailaddr, dlvy_request, TRIM(tran_status_code) tran_status_code, order_data, dlvy_date
		FROM (
 		 SELECT inner_table. * , ROWNUM AS row_seq
 		 FROM (	SELECT tran_no, buyer_id, payment_option, receiver_name, receiver_phone, demailaddr, dlvy_request, tran_status_code,  order_data, To_char(dlvy_date, 'YYYY-MM-DD') dlvy_date
        		FROM transaction
				WHERE buyer_id = #{searchKeyword}
				ORDER BY tran_no) inner_table 
 		 WHERE ROWNUM &lt;=  #{currentPage} * #{pageSize} ) 
		WHERE row_seq BETWEEN   ((#{currentPage} - 1) * #{pageSize} + 1)
		AND #{currentPage} * #{pageSize}
	 </select>
	 
	 <update id="updatePurchase" parameterType="purchase">
	 	UPDATE transaction
	 	<set>
	 		payment_option = #{paymentOption:VARCHAR},
	 		receiver_name = #{receiverName:VARCHAR},
	 		receiver_phone = #{receiverPhone:VARCHAR},
			demailaddr = #{divyAddr:VARCHAR},
			dlvy_request=#{divyRequest:VARCHAR},
			dlvy_date=#{divyDate:VARCHAR}
	 	</set>
	 	<where>
	 		tran_no= #{tranNo}
	 	</where>
	 </update>
	 
	 <update id="updateTranCode" parameterType="purchase">
	 	UPDATE transaction 
	 	<set>
	 		tran_status_code = #{tranCode}
	 	</set>
	 	<where>
	 		tran_no = #{tranNo}
	 	</where>
	 </update>
</mapper>